<div class="ui secondary  menu" style="margin:5px">
    <a [routerLink]="['/admin/course']" class=" item">Admin Course</a>
    <a [routerLink]="['/admin/dashboard']" class=" item">Admin Dashboard</a>
    <a [routerLink]="['/landing']" class=" item">Landing</a>
    <a [routerLink]="['/user/courseDetails']" class=" item">User Course Details</a>
    <a [routerLink]="['/user/courseList']" class=" item">User Course List</a>
    <a [routerLink]="['/user/dashboard']" class=" item">User Dashboard</a>
    <a [routerLink]="['/user/userLessonDetails']" class="item">User Lesson Details</a>

    <div class="right menu">
        <a [routerLink]="['/login']" class="ui item">Login</a>
        <a [routerLink]="['/signup']" class="ui item">SignUp</a>
        <a class="ui item">Logout</a>
    </div>

</div>
<br>